{% extends 'shared/_layout.html' %}

{% block content %}

   <!DOCTYPE html>
<html>
<head>
  <title>User Registration and Login</title>
</head>
<body>
  <h2>User Registration</h2>
  <form action="{% url 'register' %}" method="post">
    {% csrf_token %}
            {{ register_form.phone.label }}
            {{ register_form.phone }}
            {{ register_form.phone.error }}
            {{ register_form.password.label }}
            {{ register_form.password }}
            {{ register_form.password.error }}
            {{ register_form.confirm_password.label }}
            {{ register_form.confirm_password }}
            {{ register_form.confirm_password.error }}
    <button type="submit"> ثبت نام </button>
<a href="{% url 'login' %}">اکانت دارید؟ لاگین</a>
  </form>

</body>
</html>


{% endblock %}