{% extends 'shared/_layout.html' %}
{% load product_custom_filters %}
{% load static %}


{% block content %}
    <script src="{% static 'js/product.js' %}"></script>
<style>
    .remove-pr a:hover i {
        color: red;
    }
</style>



    <!-- Start Wishlist  -->
    <div class="wishlist-box-main" id="order_favorite_content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>تصویر</th>
                                    <th>نام محصول</th>
                                    <th>قیمت</th>
                                    <th>موجودی</th>
                                    <th>اضافه به سبد خرید</th>
                                    <th>حذف</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for objects in products %}
                                <tr>
                                    <td class="thumbnail-img">
                                        <a href="{% url 'product-detail' slug=objects.product.slug  %}">
									<img class="img-fluid" src="{{ objects.product.image.url }}" alt="" />
								</a>
                                    </td>
                                    <td class="name-pr">

                                        <a href="{% url 'product-detail' slug=objects.product.slug  %}">
                                            {{ objects.product.title}}
								</a>
                                    </td>
                                    <td class="price-pr">
                                        <p>{{ objects.product.final_price | get_tooman }}</p>
                                    </td>
                                    <td class="quantity-box">{{ objects.product.inventory }}</td>
                                    <td class="add-pr">
                                        <a class="btn hvr-hover" style="color: white" onclick="addProducToOrder({{ objects.product.id }})">افزودن به سبد خرید</a>
                                    </td>
                                    <td class="remove-pr">
                                        <a onclick="remove_favorite({{ objects.id }})">
									        <i class="fas fa-times"></i>
                                        </a>
                                    </td>
                               </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Wishlist -->

{% endblock %}