{% extends 'shared/_layout.html' %}
{% load product_custom_filters %}
{% load static %}


{% block content %}
<script src="{% static 'js/product.js' %}"> </script>
<style>
    .remove-pr a:hover i {
        color: red;
    }
</style>



    <!-- Start Wishlist  -->
    <div class="wishlist-box-main" id="order_favorite_content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>شناسه سفارش</th>
                                    <th>وضعیت پرداخت</th>
                                    <th> قیمت نهایی</th>
                                    <th>تاریخ پرداخت</th>
                                    <th>جزئیات</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for order in object_list %}
                                <tr>
                                    <td class="thumbnail-img">
                                        <a href="#">
									{{ order.id }}
								</a>
                                    </td>
                                    <td class="name-pr">
                                        <a href="#">
                                            {% if order.is_paid  %}
                                                <p>پرداخت شده است</p>
                                            {% else %}
                                                <p>پرداخت نشده است</p>
                                            {% endif %}

								</a>
                                    </td>
                                    <td class="price-pr">
                                        <p>{{ order.grand_total | get_tooman }}</p>
                                    </td>
                                    <td class="quantity-box">{{ order.payment_date }}</td>
                                    <td class="add-pr">
                                        <a class="btn hvr-hover" href="{% url 'shop_detail' pk=order.id %}">جزئیات</a>
                                    </td>

                               </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Wishlist -->

{% endblock %}