{% extends 'shared/_layout.html' %}

{% block content %}
<meta charset="UTF-8">

    <!-- Start Contact Us  -->
    <div class="contact-box-main" style="direction: rtl">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <div class="contact-form-right">
                        <h2 style="text-align:right">ویرایش پروفایل</h2>
                        <p style="text-align:right">پرده سرای بزرگ نقش جهان واقع در فلاورجان و فولاد شهر </p>
                        {% csrf_token %}
                        <form id="main-contact-form" action="{% url 'user-profile-edit' %}" method="post" style="direction: rtl;text-align: right">
                            {% csrf_token %}


                                <div class="col-md-12">
                                    {{ form.full_name.label_tag }}
                                {{ form.full_name }}

                                </div>

                                <div class="col-md-12">
                                {{ form.address.label_tag }}
                                {{ form.address }}

                                </div>
                                <div class="col-md-12">
                                {{ form.melli_code.label_tag }}
                                {{ form.melli_code }}

                                </div>
                            <div class="col-md-12">
                                {{ form.code_posty.label_tag }}
                                {{ form.code_posty }}

                                </div>

                                    <div class="submit-button text-center">
                                        <button type="submit" class="btn hvr-hover">ارسال</button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                        <div class="clearfix"></div>
                                    </div>
                        </form>
                        {% if form.errors %}
        <div style="color: red; direction: rtl; width: 90%; height: 20px;font-size: 20px">
          {% for field, errors in form.errors.items %}
            {% for error in errors %}
              <p>خطا : {{ error }}</p>
            {% endfor %}
          {% endfor %}
        </div>
      {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Cart -->


{% endblock %}