{% extends 'shared/_layout.html' %}
{% load product_custom_filters %}
{% load static %}


{% block content %}
<script src="{% static 'js/product.js' %}"> </script>
<style>
    .remove-pr a:hover i {
        color: red;
    }
</style>



    <!-- Start Wishlist  -->
    <div class="wishlist-box-main" id="order_favorite_content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>تصویر</th>
                                    <th>نام محصول</th>
                                    <th>قیمت</th>
                                    <th>موجودی</th>
                                    <th>اضافه به سبد خرید</th>
                                    <th>حذف</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for objects in products %}
                                <tr>
                                    <td class="thumbnail-img">
                                        <a href="#">
									<img class="img-fluid" src="{{ objects.product.image.url }}" alt="" />
								</a>
                                    </td>
                                    <td class="name-pr">
                                        <a href="#">
                                            {{ objects.product.title}}
								</a>
                                    </td>
                                    <td class="price-pr">
                                        <p>{{ objects.product.final_price | get_tooman }}</p>
                                    </td>
                                    <td class="quantity-box">{{ objects.product.inventory }}</td>
                                    <td class="add-pr">
                                        <a class="btn hvr-hover" href="#">Add to Cart</a>
                                    </td>
                                    <td class="remove-pr">
                                        <a onclick="remove_favorite({{ objects.id }})">
									        <i class="fas fa-times"></i>
                                        </a>
                                    </td>
                               </tr>
                            {% endfor %}
{#                                <tr>#}
{#                                    <td class="thumbnail-img">#}
{#                                        <a href="#">#}
{#									<img class="img-fluid" src="images/img-pro-02.jpg" alt="" />#}
{#								</a>#}
{#                                    </td>#}
{#                                    <td class="name-pr">#}
{#                                        <a href="#">#}
{#									Lorem ipsum dolor sit amet#}
{#								</a>#}
{#                                    </td>#}
{#                                    <td class="price-pr">#}
{#                                        <p>$ 60.0</p>#}
{#                                    </td>#}
{#                                    <td class="quantity-box">In Stock</td>#}
{#                                    <td class="add-pr">#}
{#                                        <a class="btn hvr-hover" href="#">Add to Cart</a>#}
{#                                    </td>#}
{#                                    <td class="remove-pr">#}
{#                                        <a href="#">#}
{#									<i class="fas fa-times"></i>#}
{#								</a>#}
{#                                    </td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td class="thumbnail-img">#}
{#                                        <a href="#">#}
{#									<img class="img-fluid" src="images/img-pro-03.jpg" alt="" />#}
{#								</a>#}
{#                                    </td>#}
{#                                    <td class="name-pr">#}
{#                                        <a href="#">#}
{#									Lorem ipsum dolor sit amet#}
{#								</a>#}
{#                                    </td>#}
{#                                    <td class="price-pr">#}
{#                                        <p>$ 30.0</p>#}
{#                                    </td>#}
{#                                    <td class="quantity-box">In Stock</td>#}
{#                                    <td class="add-pr">#}
{#                                        <a class="btn hvr-hover" href="#">Add to Cart</a>#}
{#                                    </td>#}
{#                                    <td class="remove-pr">#}
{#                                        <a href="#">#}
{#									<i class="fas fa-times"></i>#}
{#								</a>#}
{#                                    </td>#}
{#                                </tr>#}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Wishlist -->

{% endblock %}