{% extends 'shared/_layout.html' %}
{% load product_custom_filters %}
{% load static %}
{% load custom_filters %}

{% block content %}
      <style>
          .page-number {
            color: black; /* default color */
            text-decoration: none;
        }

        .page-number.first-page-number {
            color: white; /* color for the first page number */
            background-color: #2a43e8;
        }

        .page-link {
            text-decoration: none;
        }
    .price-range {
      background-color: red;
      color: white;
      padding: 10px;
      font-weight: bold;
    }
       .center {
            text-align: center;
        }
        .pagination {
            display: inline-block;
        }
        .pagination a {
            font-size: 15px;
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
        }
                input.form-control {
            direction: ltr;
            text-align: left;
        }

        /* Style the placeholder to be RTL */
        input.form-control::placeholder {
            direction: rtl;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
        }
        .all-factors {
            margin: 30px auto;
            background-color: #ffffff;
            width: 250px;
            height: 40px;
            font-size: 20px;
        }
        .all-factors button {
            color: white;
            background-color: #2a43e8;
            border-radius: 10px;
            border: solid black;
            padding: 10px 20px;
            box-shadow: 0 5px #1a2b96; /* 3D effect shadow */
            transition: all 0.2s ease; /* Smooth transition */
        }

        .all-factors button:hover {
            color: #2a43e8;
            background-color: #ffffff;
            border: solid #2a43e8;
            box-shadow: 0 3px #1a2b96; /* Make the shadow smaller on hover */
            transform: translateY(2px); /* Simulate pressing the button down */
        }


  </style>

<!-- Start Wishlist  -->

    <div class="wishlist-box-main" id="order_favorite_content">

    <!-- Search bar of factors  -->
                <div class="search-product" style="margin: 0 auto; width: 90%;">
                    <form action="{% url 'user-factors' %}" method="get">
                        <input class="form-control rtl-placeholder" placeholder=".... اینجا جستو جو کنید (کد فاکتور را وارد کنید)" type="text" name="search" value="{{ search_query }}">
                        <button type="submit"> <i class="fa fa-search"></i> </button>
                    </form>

                </div>
                <div class="all-factors">
                    <a  href="{% url 'user-factors' %}">
                        <button type="submit"> مشاهده همه فاکتور ها </button>
                    </a>
                </div>

    <!-- end Search bar of factors  -->


        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>شماره فاکتور</th>
                                    <th>کد فاکتور</th>
                                    <th>عنوان فاکتور</th>
                                    <th>تاریخ فاکتور</th>
                                    <th>دانلود</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for factor in factors %}
                                <tr>
                                    <td class="thumbnail-img">

									{{ factor.id }}

                                    </td>
                                    <td class="thumbnail-img">

									{{ factor.code_factor }}

                                    </td>
                                    <td class="quantity-box">{{ factor.title }}</td>
                                    <td class="quantity-box">{{ factor.date|gregorian_to_shamsi }}</td>
                                    <td class="add-pr">
                                        <a class="btn hvr-hover" href="{% url 'factor-download' factor_id=factor.id %}">دانلود</a>
                                    </td>

                               </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Wishlist -->
<div class="center">
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}&sort={{ current_sort }}">&laquo;</a>
        {% endif %}

        {% for page_number in paginator.page_range %}
            {% if page_number >= page_obj.number and page_number < page_obj.number|positive_five %}
                 {% if page_number == page_obj.number %}
                    <a href="?page={{ page_number }}" class="page-number first-page-number">
                        {{ page_number }}
                    </a>
                {% else %}
                    <a href="?page={{ page_number }}" class="page-number">
                        {{ page_number }}
                    </a>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&sort={{ current_sort }}">&raquo;</a>
        {% endif %}
    </div>
</div>

{% endblock %}