<div class="filter-sidebar-left">

                            <div class="title-left">
                                <h3>دسته بندی ها</h3>
                            </div>

                            <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">

                                <div class="list-group-collapse sub-men">
                                 <a class="nav-link" href="{% url 'product-list' %}">همه محصولات</a>

                                {% for main_category in main_categories %}
                                    <p class="list-group-item list-group-item-action"  data-toggle="collapse" aria-expanded="false" aria-controls="sub-men1">
                                        <a href="{% url 'product-category-list' categories=main_category.slug %}" class="list-group-item list-group-item-action active">
                                            {{ main_category.title }}
                                        </a>
								</p>
                                    <div class="collapse show" id="sub-men1" data-parent="#list-group-men">

                                        <div class="list-group">
                                            {% for sub_category in sub_categories  %}

                                                {% if sub_category.parent_category == main_category %}
                                                    <a href="{% url 'product-category-list' categories=sub_category.slug %}" class="list-group-item list-group-item-action active">{{ sub_category.title }}
                                                        <small class="text-muted">{{ sub_category.product_categories.all.count }}</small>
                                                    </a>
                                                {% endif %}
                                            {% endfor %}

                                        </div>

                                    </div>
                                {% endfor %}
                                </div>


                            </div>

                        </div>
