<div class="filter-brand-left">
                            <div class="title-left">
                                <h3>برندها</h3>
                            </div>
                            <div class="brand-box" tabindex="1" style="overflow: hidden; outline: none;">
                                <ul>
                                    {% for brand in product_brands %}
                                    <li>
                                        <p class="list-group-item list-group-item-action"  data-toggle="collapse" aria-expanded="false" aria-controls="sub-men1">
                                            <a href="{% url 'product-brand-list' brand=brand.slug %}" class="list-group-item list-group-item-action active">
                                                {{ brand.title }}
                                            </a>
								        </p>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>