{% extends "admin/change_list.html" %}
{% block content %}
<script>
document.addEventListener('DOMContentLoaded', function () {
    var searchInput = document.getElementById('searchbar');
    if (searchInput) {
        searchInput.setAttribute('placeholder', 'جستجو کنید...');
    }
});


</script>    
<p class="description" style="font-size: 15px; color: #ce063c">
    برای پیدا کردن سبد خرید کاربر کافیست نام و نام خانوادگی کاربر یا شماره کاربر یا شماره سبد خرید را جستجو کنید.
</p>
{{ block.super }}
{% endblock %}