{% extends 'shared/_layout.html' %}

{% block content %}

    <!-- Start Contact Us  -->
    <div class="contact-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <div class="contact-info-left" style="direction: rtl; float: right;text-align: right">
                        <h2>راه های ارتباطی</h2>
                        <p>{{ site_setting.about_us_text }} </p>
                        <ul>
                            <li>
                                <p><i class="fas fa-map-marker-alt"></i>آدرس:{{ site_setting.address }}
                            </li>
                            <li>
                                <p><i class="fas fa-phone-square"></i>تلفن: <a href="tel:{{ site_setting.phone}}">{{ site_setting.phone}}</a></p>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-12">
                    <div class="contact-form-right">
                        <h2 style="text-align:right">تماس با ما</h2>
                        <p style="text-align:right">{{ site_setting.name }}</p>
                        {% csrf_token %}
                        <form id="main-contact-form" action="{% url 'contact_us' %}" method="post" style="text-align:right; direction: rtl">
                            {% csrf_token %}


                                <div class="col-md-12">
                                    {{ form.full_name.label_tag }}
                                {{ form.full_name }}
                                {{ form.full_name.errors }}
                                </div>
                                <div class="col-md-12">
                                        {{ form.email.label_tag }}
                                {{ form.email }}
                                {{ form.email.errors }}
                                </div>
                                <div class="col-md-12">
                                    {{ form.title.label_tag }}
                                {{ form.title }}
                                {{ form.title.errors }}
                                </div>
                                <div class="col-md-12">
                                       {{ form.message.label_tag }}
                                {{ form.message }}
                                {{ form.message.errors }}
                                    </div>
                                    <div class="submit-button text-center">
                                        <button type="submit" class="btn hvr-hover">ارسال</button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Cart -->


{% endblock %}