{% extends 'shared/_layout.html' %}
{% load static %}
{% load render_partial %}
{% load thumbnail %}

{% block content %}
    <script src="{% static 'js/product.js' %}"></script>
  <style>
    .price-range {
      background-color: red;
      color: white;
      padding: 10px;
      font-weight: bold;
    }
       .center {
            text-align: center;
        }
        .pagination {
            display: inline-block;
        }
        .pagination a {
            font-size: 15px;
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
        }
  </style>

    <!-- Start Shop Page  -->
    <div class="shop-box-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                    <div class="product-categori">
                        <div class="search-product">
                           <form action="{% url 'product-list' %}" method="get">
                                <input class="form-control" placeholder="...اینجا جستجو کنید" type="text" name="search" value="{{ search_query }}">
                                <button type="submit"> <i class="fa fa-search"></i> </button>
                            </form>
                        </div>
                        {% render_partial 'product_module.views.product_categories_component' %}
                        <div class="filter-price-left" style="display : none;">
                            <div class="title-left">
                                <h3>Price</h3>
                            </div>
                            <div class="price-box-slider">
                                <div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 25%; width: 50%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 25%;"></span><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 75%;"></span></div>
                                <p>
                                    <input type="text" id="amount" readonly="" style="border:0; color:#fbb714; font-weight:bold;">
                                    <button class="btn hvr-hover" type="submit">Filter</button>
                                </p>
                            </div>
                            </div>
                        </div>
                        {% render_partial 'product_module.views.product_brands_component' %}


                </div>
                <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                    <div class="right-product-box">
                        <div class="product-item-filter row">
                            <div class="col-12 col-sm-8 text-center text-sm-left">
                                <div class="toolbar-sorter-right">

                                    <select id="basic" class="selectpicker show-tick form-control" onchange="location = this.value;">
									<option value="?sort=title" {% if current_sort == 'title' %}data-display="Select" selected{% endif %}>هیچکدام</option>
									<option value="?sort=price" {% if current_sort == 'price' %}data-display="Select" selected {% endif %}>قیمت زیاد → قیمت کم</option>
									<option value="?sort=-price" {% if current_sort == '-price' %}data-display="Select" selected {% endif %}>قیمت کم → قیمت زیاد</option>
								</select>
                                </div>
                                <p style="font-size: 20px">مرتب سازی بر اساس</p>
                            </div>
                            <div class="col-12 col-sm-4 text-center text-sm-right">
                                <ul class="nav nav-tabs ml-auto">
                                    <li>
                                        <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="row product-categorie-box">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                    <div class="row">
                                        {% for product in products %}

                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="sale">Sale</p>
                                                    </div>
                                                    {% thumbnail product.image '550x550' quality=100 crop='center' as im %}
                                                        <img src="{{ im.url }}" class="img-fluid" alt="Image">
                                                    {% endthumbnail %}
                                                    <div class="mask-icon">
                                                        <ul>
                                                                <li><a href="{% url 'product-detail' slug=product.slug  %}" data-toggle="tooltip" data-placement="right" title="جزئیات محصول"><i class="fas fa-eye"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="اضافه به علاقه مندی ها" onclick="addProducToWishlist({{ product.id }})"><i class="far fa-heart"></i></a></li>
                                                            </ul>
                                                        <a class="cart" onclick="addProducToOrder({{ product.id }})" href="#">اضافه به سبد خرید</a>
                                                    </div>
                                                </div>
                                            <a href="{% url 'product-detail' slug=product.slug  %}">
                                                <div class="why-text" >
                                                    <h4>{{ product.short_description }}</h4>
                                                    <h5> {{ product.price }}</h5>
                                                    <h6 style="color: red"> {% if product.Discount %}
                                                                 offer={{ product.Discount }}%
                                                    {% endif %}
                                                    </h6>
                                                </div>
                                            </a>
                                            </div>
                                        </div>

                                        {% endfor %}
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="list-view">
                                    <div class="list-view-box">
                                        <div class="row">
                                            {% for product in products %}
                                                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <div class="type-lb">
                                                            <p class="new">New</p>
                                                        </div>
                                                        {% thumbnail product.image '550x550' quality=100 crop='center' as im %}
                                                            <img src="{{ im.url }}" class="img-fluid" alt="Image">
                                                        {% endthumbnail %}
                                                        <div class="mask-icon">
                                                            <ul>
                                                                <li><a href="{% url 'product-detail' slug=product.slug  %}" data-toggle="tooltip" data-placement="right" title="جزئیات محصول"><i class="fas fa-eye"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="اضافه به علاقه مندی ها" onclick="addProducToWishlist({{ product.id }})"><i class="far fa-heart"></i></a></li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                <div class="why-text full-width">
                                                    <h4>{{ product.title }}</h4>
                                                    <h5> <del>{{ product.price }}</del>
                                                        {% if product.Discount %}
                                                            {{ product.calculate_discount }}
                                                        {% endif %}
                                                    </h5>
                                                    <p>{{ product.description }}</p>
                                                    <a class="btn hvr-hover" href="#">Add to Cart</a>
                                                </div>
                                            </div>
                                            {% endfor %}


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                </div>

            </div>
        </div>
    </div>
    </div>
    <!-- start pagination divs -->
    <div class="center">
        <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}&sort={{ current_sort }}">&laquo;</a>
        {% endif %}
            {% for page_number in paginator.page_range %}
                  <a href="?page={{ page_number }}" class="page-number">{{page_number}}</a>

            {% endfor %}


        {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}&sort={{ current_sort }}">&raquo;</a>
        {% endif %}
        </div>
    </div>

        <!-- end pagination divs -->

    <!-- End Shop Page -->
{% endblock %}