{% extends 'shared/_layout.html' %}
{% load static %}
{% load product_custom_filters %}
{% block content %}
    <script src="{% static 'js/product.js' %}"></script>
    <!-- Start Shop Detail  -->
    <div class="shop-detail-box-main" style="direction: rtl">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-6">
                    <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">

                                <div class="carousel-item active" id="product-main-image-slide">
                                    <img  class="d-block w-100" src="{{ product.image.url }}" alt="First slide" >
                                </div>

                            {% for product_image in product_images %}
                                <div class="carousel-item" id="product-image-slide{{ product_image.id }}">
                                    <img  class="d-block w-100" src="{{ product_image.image.url }}" alt="slides" >
                                </div>
                            {% endfor %}
                                <div class="carousel-item" id="product-main-image-slide">
                                    <img  class="d-block w-100" src="{{ product.image.url }}" alt="First slide">
                                </div>

                        </div>
                        <a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev">
						<i class="fa fa-angle-left" aria-hidden="true"></i>
						<span class="sr-only">Previous</span>
					</a>
                        <a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
						<span class="sr-only">Next</span>
					</a>
                        <ol style="background-color: white" class="carousel-indicators">

                            <li  data-target="#carousel-example-1" data-slide-to="0" class="active" id="product-main-image">
                                    <a onclick="showLargeImage('{{ product.image.url }}','product-main-image')">
                                        <img class="d-block w-100 img-fluid" src="{{ product.image.url }}" alt=""  />
                                    </a>
                            </li>

                            {% for product_image in product_images %}

                                <li data-target="#carousel-example-1" data-slide-to="0" class id="product-image{{ product_image.id }}">
                                    <a onclick="showLargeImage('{{ product_image.image.url }}','product-image{{ product_image.id }}')">
                                        <img class="d-block w-100 img-fluid" src="{{ product_image.image.url }}" alt="" />
                                    </a>
                                </li>

                            {% endfor %}


                        </ol>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-6">
                    <div class="single-product-details">
                        <h2 style="text-align: right; dir:rtl">{{ product.title }}</h2>
                    {% if product.Discount != 0 %}
                        <h5>
                        <del> {{ product.price | get_tooman }}</del>

                            {{ product.calculate_discount | get_tooman }}
                    {% else %}
                         <h5>  {{ product.price | get_tooman }} </h5>
                    {% endif %}
                        </h5>

                                <h4 style="text-align: right; dir:rtl">{{ product.short_description }}:</h4>
                                <p style="text-align: right; dir:rtl">{{ product.description }} </p>
                                <ul>

                                    <li>
                                        <div class="form-group row">
                                            <div class="col-sm-10">
                                                <input id="product-count" class="form-control" value="1" min="1" max="1000" type="number">
                                            </div>
                                            <label style="font-size: 25px"  class="col-sm-2 col-form-label">تعداد</label>

                                        </div>
                                    </li>
                                </ul>

                                <div class="price-box-bar">
                                    <div class="cart-and-bay-btn">

                                        <a onclick="addProducToOrder({{ product.id }})" class="btn hvr-hover" data-fancybox-close="" href="#">افزودن به سبد خرید</a>
                                    </div>
                                </div>

                                <div class="add-to-btn">
                                    <div class="add-comp">
                                        <a class="btn hvr-hover" onclick="addProducToWishlist({{ product.id }})"><i class="fas fa-heart"></i> افزودن به علاقه مندی ها</a>

                                    </div>
                                    <div class="share-bar">

                                        {% if product.whatsup_link %}
                                            <a class="btn hvr-hover" href="{{ product.whatsup_link }}"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>
                                        {% endif %}

                                        {% if product.instagram_link %}
                                            <a class="btn hvr-hover" href="{{ product.instagram_link }}"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                    </div>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>محصولات مرتبط</h1>
                    </div>
                    <div class="featured-products-box owl-carousel owl-theme">
                        {% for relative_product in relative_products %}
                            <div class="item">
                                <div class="products-single fix">
                                    <div class="box-img-hover">

                                            <img src="{{ relative_product.image.url }}" class="img-fluid" alt="Image">

                                        <div class="mask-icon">
                                            <ul>
                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                            </ul>
                                            <a class="cart" href="#">Add to Cart</a>
                                        </div>
                                    </div>
                                    <div class="why-text">
                                        <h4>{{ product.title }}</h4>
                                        {% if product.calculate_discount != None %}
                                            <h5> {{product.calculate_discount}}</h5>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End Cart -->

{% endblock %}