{% load static %}
{% load thumbnail %}

  <!-- Start Products  -->
    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>محصولات تخفیف دار و ویژه</h1>
                        <p>برای مشاهده همه محصولات موجود وارد تب
                             <a href="{% url 'product-list' %}">محصولات</a>
                             شوید</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-center">
                        <div class="button-group filter-button-group">
                            <button class="active" data-filter="*">همه</button>
                            <button data-filter=".top-featured">محصولات ویژه</button>
                            <button data-filter=".best-seller">تخفیف دار</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row special-list">
                {% for featured_product in featured_products %}
                        <div class="col-lg-3 col-md-6 special-grid top-featured">
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                    <div class="type-lb">
                                        <p class="sale">ویژه</p>
                                    </div>
                                    {% thumbnail featured_product.image '550x550' quality=100 crop='center' as im %}
                                        <img src="{{ im.url }}" class="img-fluid" alt="Image">
                                    {% endthumbnail %}

                                    <div class="mask-icon">
                                        <ul>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                        </ul>
                                     <!--   <a class="cart" href="#">Add to Cart</a> -->
                                    </div>
                                </div>
                                <div class="why-text">
                                    <h4>{{ featured_product.short_description }}</h4>
                                    <h5> {{featured_product.price}}</h5>
                                </div>
                            </div>
                        </div>
                {% endfor %}
                {% for discount_product in discount_products %}
                        <div class="col-lg-3 col-md-6 special-grid best-seller">
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                    <div class="type-lb">
                                        <p class="sale">با تخفیف</p>
                                    </div>
                                    <img src="{{discount_product.image.url}}" class="img-fluid" alt="Image">
                                    <div class="mask-icon">
                                        <ul>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                        </ul>
                                        <a class="cart" href="#">Add to Cart</a>
                                    </div>
                                </div>
                                <div class="why-text">
                                    <h4>{{ discount_product.short_description }}</h4>
                                    <h5> {{discount_product.price}}</h5>
                                </div>
                            </div>
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- End Products  -->
